<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container">

        <div class="header-right">
          <a href="#" class="login">ログイン</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>ウットケイ</h1>
        <h1>お気に入りの時計を見つけませんか。</h1>
        <p>ウットケイは時計を売り買いするサービスです。</p>
        <p>簡単に売り買いできますので、お気に入りの時計を見つけましょう！</p>
        <div class="btn-wrapper">

        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>さぁ、あなたもウットケイでお気に入りの時計を見つけてみませんか?</h2>
          <h3>Let's serch to watch , Enjoy your life!</h3>
        </div>
        <span class="btn message"><%=link_to "さっそく探してみる" , products_path%></span>
      </div>
    </div>
    <footer>

    </footer>
  </body>
</html>
